<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>decentralization</filter-name>
        <filter-class>hierarchy.decentralization</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>decentralization</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>guest.servlet.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterControl</servlet-name>
        <servlet-class>guest.servlet.RegisterControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>guest.servlet.LogoutControl</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>AdminAccountControl</servlet-name>
        <servlet-class>admin.AdminAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListTalent</servlet-name>
        <servlet-class>admin.AdminListTalentControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTalentDetailControl</servlet-name>
        <servlet-class>admin.AdminTalentDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestTalentControl</servlet-name>
        <servlet-class>admin.AcceptTalentControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectTalentControl</servlet-name>
        <servlet-class>admin.RejectTalentControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notifications</servlet-name>
        <servlet-class>admin.AdminNotificationsControl</servlet-class>
</servlet>
<servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>guest.servlet.VerifyServlet</servlet-class>

    </servlet>
    <servlet>
        <servlet-name>DeleteTalentActiveControl</servlet-name>
        <servlet-class>admin.DeleteTalentActiveControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTalentActiveControl</servlet-name>
        <servlet-class>admin.ListTalentActiveControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterControl</servlet-name>
        <url-pattern>/RegisterControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/LogoutControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>

        <servlet-name>AdminAccountControl</servlet-name>
        <url-pattern>/admin/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListTalent</servlet-name>
        <url-pattern>/admin/listTalent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTalentDetailControl</servlet-name>
        <url-pattern>/admin/talentDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestTalentControl</servlet-name>
        <url-pattern>/admin/acceptTalent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectTalentControl</servlet-name>
        <url-pattern>/admin/rejectTalent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notifications</servlet-name>
        <url-pattern>/admin/notifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>    
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/verify</url-pattern>

    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTalentActiveControl</servlet-name>
        <url-pattern>/admin/deleteTalent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTalentActiveControl</servlet-name>
        <url-pattern>/admin/activeTalent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
